/*
====================================================================================================================================================================
                                                    Start Slideshow Properties & NavBar
====================================================================================================================================================================
*/
nav {
    position: -webkit-sticky;
    position: sticky;
    /* sticky or fixed are fine */
    position: fixed;
    top: 0;
    height: 69px;
    width: 100%;
    background: linear-gradient(to bottom, #000, #0003 70%,#0000); /* background when scroll is in the top */
    transition: background .5s; /* control how smooth the background changes */
  }
  
  nav.scrolled {
    background: blue;
  }
      
  
section#content {
    color: white;
    position: absolute;
    top:100px;
    left: 500px;
    
}
/*
====================================================================================================================================================================
                                                    End Slideshow Properties 
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Active ICO
====================================================================================================================================================================
*/



/*
====================================================================================================================================================================
                                                    End Active ICO
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start Upcoming ICO 
====================================================================================================================================================================
*/




/*
====================================================================================================================================================================
                                                    End Upcoming ICO
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Learn Tech Section Properties 
====================================================================================================================================================================
*/
/*

  

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties 
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background: blue;
    position: absolute;
    top: 3100px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/

